/* Footer Layout
   ==========================================================================
*/


/*main styles outoff media queries***********************/

.footer {
    text-align: center;
    margin: 0 auto;
}

@include respond-to($bp-lg) {
    //base styles of website
    .footer {
        //width: 960px;
        width: 100%;
    }
}